.card {
    background: #f8f8f8;
    border: none;
    margin-bottom: 50px;
    .thumb {
        padding: 30px;
        text-align: center;
        position: relative;
        img {
            width: 100%;
        }
        .icon {
            position: absolute;
            top: 0px;
            right: 10px;
            @include text($fs-40, $fw-300, $color-red);
        }
    }
    .content {
        padding: 0 15px;
        h3 {
            @include text($fs-24, $fw-300, $color-black);
            height: 60px;
        }
        p {
            @include text($fs-20, $fw-300, $color-gray-2);
            height: 90px;
        }
    }
    .button {
        display: flex;
        align-items: center;
        div {
            width: 50%;
            text-align: center;
            padding: 15px;
            &:first-child {
                background-color: $color-btn-orange;
                @include text($fs-24, $fw-300, $color-black);
            }
            &:last-child {
                background-color: $color-gray-1;
                @include text($fs-24, $fw-600, $color-black);
            }
        }
    }
}
