label {
  display: inline-block;
  font-family: $secondary-font;
  @include text($fs-18, $fw-500);
  opacity: 0.6;
  margin-bottom: 0.5rem;
}

.form-control {
  @include size(44.3rem, 5.4rem);
  @include text($fs-16, $fw-400);
  border: none;
  outline: none;
  background: rgba(33, 33, 33, 0.08);
  border-radius: 35px;
  border: 0.1rem solid rgba(255, 255, 255, 0.5);
  border-right: 0.1rem solid rgba(255, 255, 255, 0.8);
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.8);
  margin-bottom: 0.4rem;
  padding-left: 30px;

  &:focus,
  &:checked,
  &:active,
  &:disabled {
    background: rgba(33, 33, 33, 0.08);
    border: none;
    outline: none;
  }
}

.form-error {
  font-family: $secondary-font;
  @include text($fs-12, $fw-400, $color-red);
  padding-left: 30px;
}

.form-password {
  position: relative;
  width: 44.3rem;

  .form-eye {
    @include posAbsolute(tr, 4rem, 5%);
    transform: translateY(0.5rem);
    color: rgba(0, 0, 0, 0.6);
    transition: all 0.5s;

    &:hover {
      cursor: pointer;
      color: $color-black;
    }
  }
}
