#carouselAPI {
    position: relative;
    overflow-x: hidden;
    .carousel-indicators {
        bottom: 35px;
        li {
            width: 10px;
            height: 10px;
            border: 1px solid #ddd;
            border-radius: 50%;
            margin-right: 10px;
            &.active {
                background-color: #eee;
            }
        }
    }
    .carousel-control-prev {
        left: -75px;
        .carousel-control-prev-icon {
            background-image: url("../../img/Polygon 2.png");
            width: 40px;
            height: 50px;
        }
    }
    .carousel-control-next {
        right: -75px;
        .carousel-control-next-icon {
            background-image: url("../../img/Polygon 1.png");
            width: 40px;
            height: 50px;
        }
    }

    .carousel-item {
        padding-bottom: 80px;
        .row {
            align-items: center;
            img {
                margin-left: 80px;
            }
        }
        .carousel-content {
            h2 {
                @include text($fs-40, $fw-300, $color-black);
            }
            p {
                @include text($fs-20, $fw-300, $color-black);
            }
            a {
                background-color: $color-btn-orange;
                @include text($fs-20, $fw-300, $color-white);
                padding: 10px 30px;
                margin-top: 20px;
                display: inline-block;
            }
        }
    }
}
