.search {
    &-form {
        padding: 12px 0 0 30px;
        margin: 80px 0 30px;
        p {
            @include text($fs-18, $fw-500, $color-black);
            opacity: 0.6;
        }
        input {
            background: rgba(33, 33, 33, 0.08);
            border-radius: 4px;
            padding: 13px;
            width: 443px;
            border: none;
            @include text($fs-16, $fw-400, $color-black);
            &::placeholder {
                @include text($fs-16, $fw-400, $color-black);
            }
        }
        &.fillter {
            padding: 0;
            margin: 40px 0;
            input {
                display: block;
                margin-bottom: 10px;
                width: 100%;
            }
            .icon {
                position: relative;
                width: 32%;
                img {
                    position: absolute;
                    right: 18px;
                    top: 16px;
                    width: 45px;
                    &.rotage {
                        transform: rotate(180deg) translateY(4px);
                    }
                }
            }
        }
        button {
            background-color: $color-btn-violet;
            @include text($fs-16, $fw-500, $color-white);
            padding: 10px 32px;
            border-radius: 30px;
            border: none;
            margin-left: 30px;
            box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
        }
    }
}
